.about__title {
  @include title;
  margin-top: 79px;
  margin-bottom: 0;
}

.about__list {
  @include list-unstyled;
}

.about__item {
  margin-top: 83px;
}

.about__text {
  font-size: 17px;
  line-height: 20px;
  font-family: "Open-sans-bold", "Arial", sans-serif;
  max-width: 260px;
}
