.best-product__title {
  @include title;
  margin: 0;
}

.best-product__subtitle {
  font-size: 17px;
  line-height: 20px;
  color: $basic-green-lower;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 17px;
  margin-top: 4px;
}

.best-product__text {
  line-height: 24px;
  width: 100%;
  margin-bottom: 25px;
}

.best-product__table {
  width: 100%;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 20px;
}

.best-product__image-container img {
  width: 100%;
}

.best-product__item {
  box-shadow: inset 0 -1px 0 0 $basic-silver;
}

.best-product__item td {
  padding-bottom: 14px;
}

.best-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  display: block;
  text-align: center;
}

.best-product {
  margin-top: 31px;
}

.best-product__link {
  padding-top: 13px;
  padding-bottom: 14px;
}

.best-product__purchase {
  margin-top: 23px;
}

.best-product__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  width: auto;
}

@media (min-width: $tablet-width) {
  .best-product__wrapper {
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    width: auto;
  }

  .best-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .best-product__table {
    margin-bottom: 22px;
  }

  .best-product__item td {
    padding-bottom: 16px;
    font-size: 15px;
    line-height: 20px;
    padding-top: 2px;
  }

  .best-product {
    margin-top: 53px;
  }

  .best-product__subtitle {
    font-size: 17px;
    line-height: 1.2;
    width: 93px;
    text-align: center;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 17px;
  }

  .best-product__text {
    width: 100%;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  .best-product__top-info {
    display: flex;
  }

  .best-product__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 381px;
    margin-top: 11px;
  }

  .best-product__purchase {
    min-width: 292px;
    margin-top: -2px;
  }

  .best-product__price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    padding: 32px 70px;
  }

  .best-product__image-container {
    margin-left: auto;
    margin-top: 27px;
    position: absolute;
    right: 0;
    width: 334px;
  }

  .best-product__link {
    font-size: 17px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .best-product__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .best-product {
    margin-top: 133px;
  }

  .best-product__container {
    padding-left: 175px;
    padding-right: 525px;
    margin-top: 19px;
  }

  .best-product__top-info {
    padding-left: 37px;
  }

  .best-product__subtitle {
    order: -1;
    margin: 0;
    margin-top: 6px;
    margin-right: 43px;
  }

  .best-product__text {
    margin-bottom: 50px;
    width: 292px;
  }

  .best-product__main-information {
    margin-bottom: 52px;
  }

  .best-product__image-container {
    background-color: aquamarine;
    width: 525px;
    height: 636px;
    bottom: 0;
  }

  .best-product__title {
    margin: 0;
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }

  .best-product__item td {
    padding-bottom: 13px;
    padding-top: 7px;
  }

  .best-product__table {
    width: 291px;
  }

  .best-product__link {
    width: 292px;
  }

  .best-product__price {
    padding: 35px 70px;
    text-align: inherit;
  }
}
