.catalog-video {
  @include container;
  margin-top: 30px;
  margin-bottom: 58px;
}

.catalog-video__footer-button {
  width: 192px;
  font-size: 18px;
  line-height: 16px;
  padding-bottom: 15px;
}

.catalog-video__header {
  border: 1px solid #ececec;
}

.catalog-video__content {
  display: flex;
  position: relative;
}

.catalog-video__title {
  font-size: 17px;
  line-height: 24px;
  padding-left: 91px;
  padding-top: 21px;
  padding-bottom: 26px;
  margin: 0;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/video.svg.svg");
    width: 32px;
    height: 22px;
    left: 34px;
    top: 35px;
  }
}

.catalog-video__footer {
  border: 1px solid #ececec;
  padding: 34px;
  padding-top: 29px;
}

.catalog-video__text {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  width: 197px;
  margin-bottom: 41px;
}

.catalog-video__play {
  position: absolute;
  left: 30.5%;
  top: 24%;

  &:hover {
    transform: scale(1.2) translate(1%,-3.5%);
  }

  &:active {
    transform: scale(1.2) translate(1%,-3.5%);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-video {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    margin-top: 53px;
  }

  .catalog-video__text {
    width: 611px;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-video__title {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 0;
    padding-left: 105px;
    padding-top: 45px;

    &::before {
      left: 41px;
      top: 41px;
    }
  }

  .catalog-video__header {
    order: 2;
    border-bottom: none;
    margin-top: -9px;
  }

  .catalog-video__footer {
    order: 2;
    border-top: none;
    padding: 40px;
    padding-top: 24px;
    padding-bottom: 47px;
  }

  .catalog-video__play {
    position: absolute;
    left: 42%;
    top: 40%;
  }

  .catalog-video__footer-button {
    width: 584px;
    font-size: 17px;
  }

  .catalog-video__content {
    min-height: 445px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-video {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    margin-top: 57px;
    margin-bottom: 105px;
  }

  .catalog-video__header {
    width: 366px;
    padding-left: 682px;
    margin-top: 0;
  }

  .catalog-video__title {
    padding-bottom: 0;
    padding-right: 23px;
    padding-left: 79px;
    width: 178px;
    padding-top: 97px;
  }

  .catalog-video__content {
    width: 682px;
    position: absolute;
    content: "";
    top: 0;
    left: 50px;
    height: 455px;
  }

  .catalog-video__footer {
    padding-top: 24px;
    margin-left: auto;
    width: 298px;
    padding-bottom: 27px;
  }

  .catalog-video__text {
    width: 252px;
    padding-left: 50px;
    margin-bottom: 55px;
  }

  .catalog-video__footer-button {
    margin-left: 50px;
    width: 230px;
    margin-bottom: 32px;
  }

  .catalog-video__title::before {
    left: 78px;
    top: 45px;
  }
}
