
.contacts__title {
  font-size: 18px;
  line-height: 30px;
}

.contacts__text {
  margin: 0;
  margin-left: 32px;
  width: 183px;
}

.contacts {
  margin-top: 92px;
}

.contacts__link {
  width: 183px;
  margin-left: 30px;
  color: $basic-black;
  border-bottom: 1px solid $basic-green-light;

  &:hover {
    color: $basic-green-light;
  }

  &:active {
    color: $basic-green-light;
    border-bottom: 1px solid $basic-green-opacity;
  }
}

.contacts__button {
  margin-top: 45px;
  margin-bottom: 39px;
}

.contacts__item {
  margin-top: 29px;
}

.contacts__item:nth-child(2n) {
  display: flex;
}

.contacts__list {
  @include list-unstyled;
  margin-bottom: 63px;
  font-size: 14px;
  line-height: 30px;
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  width: auto;
}

.contacts__main-map {
  height: 452px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contacts__text {
    font-size: 17px;
    line-height: 30px;
    width: 257px;
  }

  .contacts__button {
    margin: 0 auto;
    margin-bottom: 39px;
    width: 230px;
    font-size: 17px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 43px;
  }

  .contacts {
    margin-top: 198px;
  }

  .contacts__item {
    margin-top: 18px;
    height: 90px;
  }

  .contacts__link {
    font-size: 17px;
    line-height: 30px;
    margin-left: 31px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 1150px;
  }

  .contacts__main-map {
    position: absolute;
    right: 50px;
    bottom: 0;
  }

  .contacts__list {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: inherit;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .contacts__button {
    margin: 0;
    margin-left: 175px;
  }

  .contacts__text {
    width: 249px;
  }

  .contacts {
    margin-top: 290px;
    margin-bottom: 105px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 17px;
  }

  .contacts__table-container {
    padding-left: 174px;
  }

  .contacts__link {
    margin-left: 25px;
  }

  .contacts__item:first-child {
    height: 42px;
  }
}
