.fieldset-type__list {
  @include list-unstyled;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
}

.fieldset-type__item {
  min-height: 42px;
  display: flex;
}

.fieldset-type__title {
  @include fieldset-title;
}

@media (min-width: $tablet-width) {
  .fieldset-type {
    margin-top: 0;
    display: flex;
  }

  .fieldset-type__title {
    margin: 0;
  }

  .fieldset-type__title::after {
    background-color: initial;
  }

  .fieldset-type__list {
    margin: 0 auto;
    margin-top: -30px;
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-type__list {
    margin-left: 189px;
  }
}
