.fieldset-name__list {
  @include list-unstyled;
  margin-top: 13px;
}

.fieldset-name {
  margin-top: 11px;
}

.fieldset-name__title {
  @include fieldset-title;
}

.fieldset-name__item {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 19px;
  width: 100%;
}


@media (min-width: $tablet-width) {
  .fieldset-name {
    display: flex;
    margin-top: 53px;
    width: auto;
  }

  .fieldset-name__title {
    margin: 0;
  }

  .fieldset-name__title::after {
    background-color: inherit;
  }

  .fieldset-name__list {
    margin-left: 166px;
    margin-top: -20px;
    width: 100%;
  }

  .fieldset-name__item {
    font-size: 19px;
    line-height: 1.2;
    flex-direction: row;
    width: 100%;
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-name__list {
    margin-left: 177px;
  }

  .fieldset-name__item {
    width: 698px;
  }

  .fieldset-name {
    margin-top: 55px;
  }
}
