.fieldset-color__list {
  @include list-unstyled;
  margin-top: 9px;
}

.fieldset-color {
  margin-top: 40px;
}

.fieldset-color__title {
  @include fieldset-title;
}

.fieldset-color__item {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  min-height: auto;
  display: block;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .fieldset-color {
    display: flex;
    align-items: flex-start;
    margin-top: 28px;
    min-height: 228px;
  }

  .fieldset-color__title {
    margin: 0;
    padding-top: 69px;
  }

  .fieldset-color__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    margin-top: -48px;
    width: calc(100% - 175px);
    height: auto;
  }

  .fieldset-color__item {
    font-size: 19px;
    line-height: 1.2;
  }

  .fieldset-color__title::after {
    background-color: initial;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-color__list {
    margin-left: 175px;
    margin-top: -43px;
  }

  .fieldset-color__item {
    margin-left: 0;
    margin-right: 30px;
    width: 233px;
    margin-bottom: 22px;
  }

  .fieldset-color__title {
    padding-top: 68px;
  }

  .fieldset-color {
    min-height: 228px;
    box-sizing: border-box;
    margin-top: 20px;
  }
}
