.fieldset-color__list {
  @include list-unstyled;
}

.fieldset-color {
  margin-top: 29px;
}

.fieldset-color__title {
  @include fieldset-title;
}

.fieldset-color__item {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  min-height: 38px;
  display: flex;
}
