.fieldset-contacts__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 34px;
  position: relative;
}

.fieldset-contacts {
  margin-top: 16px;
}

.fieldset-contacts__svg {
  position: absolute;
  opacity: 0.2;
  pointer-events: none;
}

.fieldset-contacts__svg--email {
  right: 3px;
  top: 37px;
}

.fieldset-contacts__svg--telephone {
  right: 7px;
  top: 31px;
}

@media (min-width: $tablet-width) {
  .fieldset-contacts__item {
    flex-direction: row;
    width: 100%;
    margin-bottom: 39px;
  }

  .fieldset-contacts {
    min-height: 228px;
    margin-top: 22px;
  }

  .fieldset-contacts__svg--telephone {
    right: 25px;
    top: -5px;
  }

  .fieldset-contacts__svg--email {
    right: 21px;
    top: 0;
  }
}


@media (min-width: $desktop-width) {
  .fieldset-contacts__container {
    padding-top: 50px;
  }

  .fieldset-contacts {
    min-height: 228px;
  }

  .fieldset-contacts__item {
    width: 83.7%;
  }

  .fieldset-contacts__svg--telephone {
    right: 10px;
    top: -6px;
  }

  .fieldset-contacts__svg--email {
    right: 6px;
    top: -1px;
  }
}
