.form-size__wrapper {
  @include list-unstyled;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Open-sans", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;
  font-style: normal;
  display: flex;
  padding-left: 30px;
  margin-bottom: 34px;
  margin-top: -4px;
}

.form-size__checkbox {
  width: 82px;
  box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 1);
  margin-right: 7px;
}

.form-size__label-size {
  display: block;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  cursor: pointer;
}

.form-size__control:checked + label {
  box-shadow: inset 0 0 0 2px #63d1bb;
}

.form-size__button {
  width: 260px;
  background-color: #63d1bb;
  color: #ffffff;
  border: none;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .form-size__wrapper {
    padding-left: 107px;
  }

  .form-size__checkbox {
    width: 113px;
  }

  .form-size__button {
    width: 350px;
  }
}
