
.main-navigation__text {
  font-size: 15px;
  line-height: 24px;
  font-family: "Open-sans", "Arial", sans-serif;
}

.main-navigation__wrapper {
  display: none;
}

.main-navigation__list {
  @include list-unstyled;
}
