.news-list__link {
  color: $basic-black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: 320px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.news-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  width: 320px;
}

.news-list {
  display: none;
}

@media (min-width: $desktop-width) {
  .news-list {
    display: flex;
    order: 1;
    max-height: 0;
    align-items: flex-start;
    width: 486px;
  }

  .news-list__item {
    box-shadow: none;
    padding: 20px 62px 25px 0;
    width: inherit;
  }

  .news-list__link {
    padding: 0;
  }
}
