.order-form__fieldset {
  border: none;
  max-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

.order-form__label {
  @include fieldset-title;
  margin-bottom: 16px;
}

.order-form__name-label {
  margin-bottom: 16px;
}

.order-form__name-input {
  @include order-input;
}

.order-form__name-input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;
  opacity: 0.3;
}

.order-form__input {
  @include order-input;
}

.order-form__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: $basic-black;
  opacity: 0.3;
}

.order-form__additionally-label {
  @include fieldset-title;
}

.order-form__textarea {
  width: 222px;
  height: 142px;
  margin-top: 22px;
  padding: 17px 17px 89px 17px;
  font-size: 17px;
  line-height: 1.2;
  resize: vertical;
  border: 2px solid #444444;
  font-family: inherit;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid #62d1ba;
    outline: none;
  }
}

.order-form__textarea::placeholder {
  width: 226px;
  font-size: 17px;
  line-height: 1.2;
  color: $basic-black;
  opacity: 0.3;
}

.order-form__text-bottom {
  font-size: 14px;
  line-height: 1.2;
}

.order-form__bottom-container {
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 0 30px;
}

.order-form__subtitle {
  box-sizing: border-box;
  min-width: 60px;
  max-width: 50%;
  padding-right: 18px;
}

.order-form__radio-label {
  padding: 12px 30px 12px 61px;
}

.order-form__checkbox-label {
  padding: 10px 30px 10px 61px;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    margin-top: 81px;
  }

  .order-form__radio-label {
    padding: 12px 109px 12px 80px;
  }

  .order-form__name-label {
    margin-right: 24px;
  }

  .order-form__name-input {
    width: 100%;
  }

  .order-form__subtitle {
    min-width: 88px;
  }

  .order-form__label {
    margin: 0;
    max-width: 130px;
  }

  .order-form__input {
    width: 100%;
  }

  .order-form__textarea {
    margin-top: 0;
    width: 501px;
    height: 32px;
  }

  .order-form__additionally-label {
    margin: 0;
    max-width: 130px;
  }

  .order-form__additionally-label::after {
    background-color: inherit;
  }

  .order-form__bottom-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
    margin-bottom: 81px;
  }

  .order-form__text-bottom {
    order: 2;
  }

  .order-form__label::after {
    background-color: inherit;
  }

  .order-form__fieldset--grey {
    background: #f1f1f1;
  }

  .order-form__container {
    padding-top: 50px;
  }

  .order-form__button {
    font-size: 17px;
    line-height: 20px;
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__fieldset {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 81px auto 0;
    padding: 0 50px;
  }

  .order-form__input {
    margin-left: 70px;
    background-color: inherit;
  }

  .order-form__textarea {
    margin-left: 70px;
    width: 700px;
  }

  .order-form__bottom-container {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 81px auto 81px;
    padding: 0 50px;
    display: flex;
  }

  .order-form__text-bottom {
    padding-right: 110px;
  }

  .order-form__fieldset--grey {
    background-color: #f1f1f1;
  }

  .order-form__container {
    padding-top: 60px;
  }

  .order-form__button {
    margin-left: 200px;
  }
}
