.order-form__fieldset {
  border: none;
  width: auto;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

.order-form {
  margin-top: 29px;
}

.order-form__label {
  @include fieldset-title;
  margin-bottom: 16px;
}

.order-form__name-label {
  margin-bottom: 16px;
}

.order-form__name-input {
  @include order-input;
}

.order-form__name-input::placeholder {
  color: $basic-black;
  opacity: 0.3;
}

.order-form__input {
  @include order-input;
}

.order-form__input::placeholder {
  color: $basic-black;
  opacity: 0.3;
}

.order-form__additionally-label {
  @include fieldset-title;
}

.order-form__textarea {
  height: 104px;
  margin-top: 8px;
  padding: 17px;
  font-size: 17px;
  line-height: 1.2;
  resize: vertical;
  border: 2px solid #444444;
  font-family: inherit;

  &:hover,
  &:active,
  &:focus {
    border: 2px solid #62d1ba;
    outline: none;
  }
}

.order-form__textarea::placeholder {
  width: 226px;
  color: $basic-black;
  opacity: 0.3;
}

.order-form__text-bottom {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 31px;
  margin-top: 17px;
}

.order-form__bottom-container {
  width: auto;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 0 30px;
}

.order-form__subtitle {
  box-sizing: border-box;
  min-width: 60px;
  max-width: 50%;
  padding-right: 18px;
}

.order-form__checkbox-label:hover::before {
  border-color: #62d1b6;
}

.order-form__radio-label:hover::before {
  border-color: #62d1b6;
}

.order-form__radio-label {
  padding: 20px 30px 0 61px;
  position: relative;
  height: 39px;

  &::before {
    content: "";
    position: absolute;
    flex-shrink: 0;
    width: 39px;
    height: 39px;
    margin: -9px 23px 0 0;
    padding: 0;
    border: 2px solid #444444;
    border-radius: 50%;
    left: 0;
    top: 20px;
    cursor: pointer;
  }
}

.order-form__radio:checked + label::after {
  content: "";
  position: absolute;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  background-color: #63d1bb;
  border-radius: 50%;
  top: 25px;
  left: 14px;
}

.order-form__checkbox-label {
  display: block;
  padding: 13px 0 12px 62px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    flex-shrink: 0;
    width: 34px;
    height: 34px;
    margin: -11px 23px 0 0;
    padding: 0;
    border: 2px solid #444444;
    left: 0;
    top: 11px;
  }
}

.order-form__checkbox {
  &:checked + label::after {
    content: "";
    position: absolute;
    background-image: url("../img/Tick.svg");
    width: 27px;
    height: 25px;
    background-repeat: no-repeat;
    left: 5px;
    top: 6px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__fieldset {
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    margin-top: 81px;
  }

  .order-form__radio:checked + label::after {
    top: 8px;
    left: 13px;
    width: 18px;
    height: 18px;
  }

  .order-form__radio-label {
    padding: 9px 110px 48px 74px;
    height: auto;

    &::before {
      left: -3px;
      top: 2px;
      width: 46px;
      height: 45px;
    }
  }

  .order-form__name-label {
    margin-right: 24px;
  }

  .order-form__name-input {
    width: 100%;
    font-size: 19px;
    line-height: 1.2;
    padding-left: 20px;
    font-family: inherit;
  }

  .order-form__subtitle {
    min-width: 88px;
  }

  .order-form__label {
    margin: 0;
    max-width: 170px;
  }

  .order-form__input {
    width: 100%;
    background-color: inherit;
    padding-left: 15px;
    font-size: 19px;
    line-height: 1.2;
    padding-bottom: 13px;
  }

  .order-form__textarea {
    margin-top: -19px;
    width: 100%;
    height: 104px;
    margin-left: 36px;
    white-space: nowrap;
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__additionally-label {
    margin: 0;
    max-width: 130px;
  }

  .order-form__additionally-label::after {
    background-color: inherit;
  }

  .order-form__bottom-container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 30px;
  }

  .order-form__text-bottom {
    order: 2;
    margin-top: 11px;
    font-size: 17px;
    line-height: 30px;
  }

  .order-form__label::after {
    background-color: inherit;
  }

  .order-form__fieldset-wrapper--grey {
    background: #f1f1f1;
  }

  .order-form__button {
    font-size: 17px;
    line-height: 20px;
    width: 230px;
    height: 52px;
  }

  .order-form__container {
    padding-top: 66px;
  }

  .order-form {
    margin-top: 81px;
  }

  .order-form__checkbox-label::before {
    content: "";
    position: absolute;
    flex-shrink: 0;
    width: 46px;
    height: 49px;
    margin: -11px 23px 0 0;
    padding: 0;
    border: 2px solid #444444;
    left: 18px;
    top: 16px;
    bottom: 9px;
  }

  .order-form__checkbox:checked + label::after {
    left: 26px;
    top: 21px;
    width: 31px;
  }

  .order-form__checkbox-label {
    padding: 20px 0 12px 99px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__fieldset {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 81px auto 0;
    padding: 0 50px;
  }

  .order-form__input {
    margin-left: 5px;
    background-color: inherit;
  }

  .order-form__textarea {
    margin-left: 45px;
    width: 63.3%;
  }

  .order-form__bottom-container {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 48px auto 30px;
    padding: 0 50px;
    display: flex;
  }

  .order-form__text-bottom {
    padding-right: 171px;
  }

  .order-form__fieldset--grey {
    background-color: #f1f1f1;
  }

  .order-form__button {
    margin-left: 16.7%;
  }

  .order-form__container {
    padding-top: 66px;
  }

  .order-form__subtitle {
    padding-left: 62px;
  }

  .order-form__label {
    white-space: nowrap;
  }

  .order-form__checkbox-label::before {
    width: 48px;
    height: 49px;
    margin: 0;
    padding: 0;
    border: 2px solid #444444;
    left: 0;
    top: 0;
  }

  .order-form__checkbox:checked + label::after {
    left: 10px;
    top: 15px;
  }

  .order-form__checkbox-label {
    padding: 19px 0 12px 82px;
  }

  .order-form__radio:checked + label::after {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .order-form__radio-label::before {
    left: -5px;
    top: 4px;
    width: 46px;
    height: 45px;
  }
}
