.page-header {
  border-bottom: 1px solid #ececec;
}


@media (min-width: $tablet-width) {
  .page-header__logo {
    position: absolute;
    left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin-left: 50%;
  }
}
