.page-content__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0 auto;
  width: 260px;
  text-align: center;
}

.page-content__header {
  background-color: $basic-smoky-white;
  padding: 74px 23px;
}

.page-content__description {
  font-size: 13px;
  line-height: 24px;
  max-width: 260px;
  margin: 0 auto;
  padding: 0 30px;
  margin-top: 17px;
}

@media (min-width: $tablet-width) {
  .page-content__description {
    max-width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .page-content__title {
    font-size: 43px;
    line-height: 50px;
    width: 417px;
  }
}

@media (min-width: $desktop-width) {
  .page-content__description {
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
    box-sizing: border-box;
    max-width: 1150px;
    padding-left: 245px;
    padding-right: 225px;
  }
}
