.product-card__inner {
  padding: 27px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product-card__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 5px;
}

.product-card__text {
  font-size: 13px;
  line-height: 30px;
  color: $basic-black-lower;
}

.product-card__link {
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__img {
  display: flex;
}

.product-card__price {
  display: block;
  font-size: 15px;
  margin: 0;
  border-top: 1px solid #ececec;
  padding-top: 24px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .product-card__inner {
    width: 259px;
    height: 280px;
    padding: 27px 39px 25px 34px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__text {
    font-size: 15px;
    line-height: 30px;
  }

  .product-card__price {
    font-size: 17px;
    line-height: 24px;
    margin-top: 145px;
  }

  .product-card__img {
    width: 334px;
    background-color: aqua;
  }
}

@media (min-width: $desktop-width) {
  .product-card__inner {
    width: 241px;
    height: 143px;
  }

  .product-card__price {
    margin-top: 25px;
  }

  .product-card__img {
    width: 315px;
    height: 462px;
  }

  .product-card__price:last-child {
    margin-top: 50px;
  }
}
