.product-list__item {
  margin-top: 30px;
}

.product-list {
  @include list-unstyled;
  max-width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .product-list {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .product-list__item {
    display: flex;
    margin-top: 80px;

    &:nth-child(2n) {
      margin-top: 49px;
    }

    &:nth-child(3n) {
      margin-top: 48px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    box-sizing: border-box;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
  }

  .product-list__item {
    flex-direction: column;
    margin-top: 130px;

    &:nth-child(2n) {
      margin-top: 130px;
    }

    &:nth-child(3n) {
      margin-top: 130px;
    }
  }
}
