.site-list__link {
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 28px;
  max-width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-list {
  order: 2;
}


@media (min-width: $tablet-width) {
  .site-list__link {
    padding: 0;
  }

  .site-list__item {
    box-shadow: none;
    padding: 20px 37px 25px 0;
  }

  .site-list {
    display: flex;
    order: 2;
    max-height: 0;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item:first-child {
    border-right: 1px solid #ececec;
    padding-right: 35px;
  }

  .site-list__item:nth-child(2n) {
    padding-left: 35px;
  }

  .site-list {
    order: 1;
  }

  .site-list__item {
    padding: 35px 56px 15px 0;
    height: 37px;
  }

  .site-list__link {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
}
