.user-list__link {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 28px;
  max-width: 320px;
  margin: 0 auto;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
