.user-list__link {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  padding-left: 76px;
  padding-top: 28px;
  padding-bottom: 28px;
  max-width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__cart::before {
  content: "";
  position: absolute;
  background-image: url("../img/cart.svg.svg");
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  left: 29px;
  top: 35px;
}

.user-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    order: 1;
    margin-left: auto;
    width: 80%;
  }

  .user-list__item {
    box-shadow: none;
    height: 88px;
  }

  .user-list__item:nth-child(2n) {
    margin-right: -16px;
  }

  .user-list__link span {
    display: none;
  }

  .user-list__link {
    padding: 34px 16px 31px 82px;
  }

  .user-list__search {
    margin-left: auto;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .user-list__search-link {
    padding: 32px 33px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 331px;
    margin-left: 67%;
  }

  .user-list__link {
    padding: 33px 0 32px 79px;
  }

  .user-list__search-link {
    padding: 32px 33px;
  }
}
