@mixin list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

@mixin container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

@mixin fieldset-title {
  color: #63d1bb;
  position: relative;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;

  &::before {
    width: 200px;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #63d1bb;
    left: 60px;
    top: 8px;
  }
}

@mixin order-input {
  border: none;
  box-shadow: inset 0 -2px 0 #000000;
  padding-bottom: 17px;
  outline: none;
  font-size: 17px;
  line-height: 18px;
  color: $basic-black-lower;

  &:hover,
  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }
}
