@mixin list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin title {
  font-size: 25px;
  line-height: 30px;
  font-family: "Open-sans-bold", "Arial", sans-serif;
}

@mixin container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
