$basic-black: #000000;
$basic-black-lower: #444444;
$basic-silver: #e5e5e5;
$basic-white: #ffffff;
$basic-green-lower: #63d1bb;
$basic-green-light: #62d1ba;
$basic-green-opacity: rgba(70, 193, 174, 0.1);
$basic-green-aqua: #56c3b2;
$basic-gray: #808080;
$basic-smoky-white: #f1f1f1;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
